.root{
    -fx-background-color: #3c3f41
}
.label{
    -fx-text-fill: white;
}
.button{
    -fx-background-color: #3c3f41
}
.button:hover{
    -fx-background-color: #27292a;
}
.text-field{
    -fx-font-size: 16pt;
}

.text-input {
    -fx-text-inner-color: #ffffff;
    -fx-background-color: #323232;
}
.text-input:focused {
    -fx-background-color:#323232;
}

#backBtn{
    -fx-background-color: #323232;
}
#backBtn:hover{
    -fx-background-color: #27292a;
}

#submit ,#send{
    -fx-background-color: #3c3f41;
    -fx-text-fill: white;
    -fx-border-color:#ffffff;
    -fx-background-insets: 0;
}
#submit:hover,#send:hover{
    -fx-background-color: #27292a;
}