.root{
    -fx-background-color: #3c3f41
}
.label{
    -fx-font-size: 50;
    -fx-font-family: "Segoe UI Semibold";
}
.button{
    -fx-background-color: #3c3f41;
    -fx-text-fill: white;
}
.button:hover{
    -fx-background-color: #27292a;
}
.label{
    -fx-text-fill: white;
}


.text-input {
    -fx-text-inner-color: #ffffff;
    /*-fx-background-color: #323232;*/
}
/*.text-input:focused {*/
/*    -fx-background-color:#323232;*/
/*}*/

#btnSignIn{
    -fx-background-color: #323232;
}
#btnSignIn:hover{
    -fx-background-color: #27292a;
}

