.button{
    -fx-background-color: #00E3E3;
    -fx-background-radius: 0 ;
}
.button:hover{
    -fx-background-color: #2b9a9a;
    -fx-background-radius: 0 ;
}
.circle{
    -fx-border-style: dashed;
}