.button{
    -fx-background-color: #0abab5;
    -fx-background-radius: 0 ;
}
.button:hover{
    -fx-background-color: #6200ed;
    -fx-background-radius: 0 ;
}
.circle{
    -fx-border-style: dashed;
}